body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 390px;
    width: 100%;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: none;
    background: rgb(248, 168, 24);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    width: 100%;
    max-width: 350px;
    height: 100px;
    transition: background 0.2s linear;
    white-space: normal;
}

.btn:hover {
    background: lightgreen;
}

.usercard {
    text-align: center;
    margin-top: 20px;
}

.tariff-name {
    font-size: 1.2em;
}

.tariff-price {
    font-size: 1.5em;
    font-weight: bold;
}
